<div class="row">
  <div class="col-md-12 col-lg-4">
    <h2 class="mb-3">Código: <%= @item.code %></h2>
    <% if @item.photo.attached? %>
      <%= image_tag @item.photo, class: 'img-fluid' %>
    <% end %>
    <div id="categories">
      <h4>Categorias</h4>
      <ul>
        <% @item.categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <h2><%= @item.name %></h2>
    <h4>Descrição</h4>
    <p><%= @item.description %></p>
    <h4>Especificações</h4>
    <ul>
      <li>Peso: <%= @item.weight %>g</li>
      <li>Largura: <%= @item.width %>cm</li>
      <li>Altura: <%= @item.height %>cm</li>
      <li>Profundidade: <%= @item.depth %>cm</li>
    </ul>
  </div>
  <%# botoes voltar e dar lance %>
  <div class="col-md-6 col-lg-4">
    <div class="card text-dark bg-light mb-3" id="info-item" >
      <div class="card-body">
        <% if @item.lots.last.present? %>
          <% if is_approved(@item.lots.last) %>
            <h5 class="card-title">Item do lote <%= @item.lots.last.code %></h5>
            <p class="card-text">
              Este item ainda não possui lances, seja o primeiro!
            </p>
            <ul>
              <li>Lance mínimo: <%= number_to_currency(@item.lots.last.minimum_value) %></li>
              <li>Diferença mínima entre lances: <%= number_to_currency(@item.lots.last.minimum_difference) %></li>
              <li>Estado do lote: <%= current_time_status(@item.lots.last)  %></li>
              <li>O lote fecha em: <%= distance_of_time_in_words_to_now(@item.lots.last.end_date) %> </li>
            </ul>
            
          <% else %>
            <h5 class="card-title">Este item ainda não está em nenhum lote</h5>
          <% end %>
        <% else %>
          <h5 class="card-title">Este item ainda não está em nenhum lote</h5>
        <% end %>
      </div>
      <% if @item.lots.last.present? %>
        <%= link_to 'Ver lote', @item.lots.last, class:'btn btn-success mb-2' %>
      <% end %>
      <%= link_to 'Ver todos itens', items_path, class: 'btn btn-primary' %>
    </div>
  </div>
