<% content_for :head do %>
  <%= stylesheet_link_tag 'item' %>
<% end %>
<div class="row">
  <div class="col-md-12 col-lg-4">
    <h3>Visualizando o lote <%= @lot.code %></h3>
    <h2 class="mb-3">Código: <%= @lot.code %></h2>
    <div id="lot_info">
      <h4>Detalhes</h4>
      <ul>
        <li>Data de abertura: <%= l @lot.start_date, format: :short %></li>
        <li>Data de fechamento: <%= l @lot.end_date, format: :short  %></li>
        <li>Valor inicial do lote: <%= number_to_currency(@lot.minimum_value) %></li>
        <li>Diferença mínima entre lances: <%= number_to_currency(@lot.minimum_difference) %></li>
      </ul>
    </div>
    <div class="card text-dark bg-light mb-3"  id="lot-<%= @lot.code %>" >
      <div class="card-body">
        <h5 class="card-title">Status do lote: <%= current_time_status(@lot)%></h5>
        <% if is_admin? %>
          <h5>Criado por: <%= @lot.created_by.name %> </h5>
          <h5 class="text-warning"> <%= is_approved_status(@lot) %> </h5>
          <h5>Lance mais alto até o momento: <%= higghest_bid_as_text_or_currency(@lot) %></h5>
        <% else %>
          <% if is_open(@lot) %>
            <h5>Lance mais alto até o momento: <%= higghest_bid_as_text_or_currency(@lot) %></h5>
            <h5>Lance mínimo: <%= number_to_currency(minimum_bid(@lot)) %> </h5>
            <% if higghest_bid_is_from_this_user(@lot) %>
              <div class="alert alert-success">
                O maior lance é seu! Continue conferindo o lote para garantir seus itens.
              </div>
            <% elsif user_has_a_bid_in_this_lot(@lot) %>
              <div class="alert alert-warning">
                Opa! Alguém deu um lance maior que o seu lance de <%= number_to_currency(current_user_bid(@lot)) %>. Dê um novo lance para continuar participando.
              </div>
            <% end %>
            <%= render 'shared/display_errors', model: @bid %>
            <%= form_with model: [@lot, @lot.bids.build] do |f| %>
              <%= f.hidden_field :lot_id, value: @lot.id %>
              <%= f.label :value, "Digite seu lance:", class:"h5 ms-2" %>
              <div class="input-group mb-3">
                <span class="input-group-text">R$</span>
                <%= f.number_field :value, value: minimum_bid(@lot), class:'form-control' %>
                <span class="input-group-text">,00</span>
              </div>
              <%= f.submit 'Dar lance', class: 'btn btn-success mb-3 w-100' %>
            <% end %>
          <% elsif is_closed(@lot) %>
            <% if @lot.succeeded? %>
              <div class="alert alert-success">
                Lote finalizado com sucesso!
              </div>
              <% if user_is_lot_winner(@lot) %>
                <div class="alert alert-success">
                  Parabéns! Você é o vencedor deste lote!
                </div>
              <% end %>
              <h5>Maior lance do lote: <%= higghest_bid_as_text_or_currency(@lot) %></h5>
            <% else %>
              <div class="alert alert-danger">
                Lote cancelado por falta de lances.
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="card-footer" id="action_card_footer" >
      <% if is_admin? %>
        <% if is_waiting(@lot) %>
          <%= link_to 'Editar lote', edit_lot_path(@lot), class: 'btn btn-warning mb-1 text-white fw-bold' %>
        <% elsif is_closed(@lot) %>
          <% if @lot.succeeded? %>
            <div class="alert alert-success">
              Lote finalizado com sucesso!
            </div>
          <% elsif @lot.canceled? %>
            <div class="alert alert-danger">
              Lote cancelado por falta de lances.
            </div>
          <% else %>
            <% if higghest_bid(@lot).present? %>
              <%= form_with url: update_approval_lot_path(@lot, canceled: false), method: :post do %>
                <%= submit_tag 'Finalizar lote', class: 'btn btn-warning mb-1 text-white fw-bold w-100' %>
              <% end %>
            <% else %>
              <%= form_with url: update_approval_lot_path(@lot, canceled: true), method: :post do %>
                <%= submit_tag 'Cancelar lote', class: 'btn btn-warning mb-1 text-white fw-bold w-100' %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to 'Voltar', lots_path, class: 'btn btn-primary fw-bold w-100' %>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-8">
    <h2>Items do lote:</h2>
    <% unless @lot.items.empty? %>
      <div class="row align-items-center">
        <% @lot.items.each do |item| %>
          <div class="col-sm-12 col-md-4">
            <div class="card mb-3" id="item-<%= item.code %>" >
              <div class="card-img-container">
                <% if item.photo.attached? %>
                  <%= image_tag item.photo, class: 'card-img-top' %>
                <% end %>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.name %>
                </h5>
                <p class="card-text">
                  <%= item.description[0,100] %>...
                </p>
              </div>
              <div class="card-footer">
                <%= link_to 'Visualizar item', item_path(item), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
