<% content_for :head do %>
  <%= stylesheet_link_tag 'item' %>
<% end %>

<div class="row">
  <div class="col-md-12 col-lg-4">
    <h3>Visualizando o lote <%= @lot.code %></h3>
    <h2 class="mb-3">Código: <%= @lot.code %></h2>
    <div id="categories">
      <h4>Detalhes</h4>
      <ul>
        <li>Data de abertura: <%= l @lot.start_date, format: :short %></li>
        <li>Data de fechamento: <%= l @lot.end_date, format: :short  %></li>
        <li>Valor inicial do lote: <%= number_to_currency(@lot.minimum_value) %></li>
        <li>Diferença mínima entre lances: <%= number_to_currency(@lot.minimum_difference) %></li>
      </ul>
    </div>
    <div class="card text-dark bg-light mb-3"  id="lot-<%= @lot.code %>" >
      <div class="card-body">
        <h5 class="card-title">Status do lote: <%= current_time_status(@lot)%></h5>
        <% if is_admin? %>
          <h5>Criado por: <%= @lot.created_by.name %> </h5>
          <h5 class="text-warning"> <%= is_approved_status(@lot) %> </h5>
        <% else %>
          
          <% if is_open(@lot) %>
            <h5>Lance mais alto até o momento: <%= higghest_bid_as_text_or_currency(@lot) %></h5>
            <h5>Lance mínimo: <%= number_to_currency(minimum_bid(@lot)) %> </h5>

            <%= form_with model: [@lot, @lot.bids.build ] do |f| %>
              <%= f.hidden_field :lot_id, value: @lot.id %>
              <%= f.number_field :value, value: minimum_bid(@lot), class:'form-control' %>
              <%= f.submit 'Dar lance', class: 'btn btn-primary mt-3' %>

              
            <% end %>
          <% end %>
          

        <% end %>
      </div>
      <% if is_admin? %>
        <%= link_to 'Editar lote', edit_lot_path(@lot), class: 'btn btn-warning mb-1 text-white fw-bold' %>
      <% end %>
      <%= link_to 'Voltar', lots_path, class: 'btn btn-primary fw-bold' %>
    </div>
  </div>
  <div class="col-sm-12 col-lg-8">
    <h2>Items do lote:</h2>
    <% unless @lot.items.empty? %>
      <div class="row align-items-center">
        <% @lot.items.each do |item| %>
          <div class="col-sm-12 col-md-4">
            <div class="card mb-3" id="item-<%= item.code %>" >
              <div class="card-img-container">
                <% if item.photo.attached? %>
                  <%= image_tag item.photo, class: 'card-img-top' %>
                <% end %>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <%= item.name %>
                </h5>
                <p class="card-text">
                  <%= item.description[0,100] %>...
                </p>
              </div>
              <div class="card-footer">
                <%= link_to 'Visualizar item', item_path(item), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
