<!DOCTYPE html>
<html data-bs-theme="dark">
  <head>
    <title>EstoqueApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5d3b493f11.js" crossorigin="anonymous"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav d-flex w-100">
            <li class="nav-item">
              <%= link_to "Home", root_path,  class:"nav-link active" %>
            </li>
            <li class="nav-item">
              <%= link_to "Lotes", lots_path,  class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Itens", items_path,  class:"nav-link" %>
            </li>
            <li class="nav-item me-auto">
              <%= link_to "Categorias", categories_path,  class:"nav-link" %>
            </li>
            <% if is_user? %>
              <li class="nav-item">
                <a class="nav-link" href="#">Meus lances</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="#">Lotes favoritos</a>
              </li>
              <li class="nav-item">
                <%= link_to "Lotes vencidos", won_lots_lots_path, class:"nav-link" %>
              </li>
              <li class="nav-item ">
                <%= link_to current_user.name, edit_user_registration_path, class:"nav-link" %>
              </li>
            <% elsif is_admin? %>
              <li class="nav-item">
                <%= link_to "Lotes finalizados", waiting_approval_lots_path,  class:"nav-link" %>
              </li>
            <% end %>
            <% if current_user.present? %>
              <li class="nav-item">
                <%= button_to "Sair", destroy_user_session_path, method: :delete, class:"nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "Entrar", new_user_session_path,  class:"nav-link"  %>
              </li>
            <% end %>
          </div>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="mt-3">
        <div class="alert alert-success alert-dismissible fade show <%= notice.nil? ? 'd-none' : '' %>" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-warning alert-dismissible fade show  <%= alert.nil? ? 'd-none' : '' %>" role="alert" >
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      <%= yield %>
    </div>
    <div class="footer mt-5">
    </div>
  </body>
</html>
